<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="divport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
		<title>河北省引才引智网</title>
		<meta name="description" property="seo_description" content="河北省引才引智网" />
   		<meta name="keywords" property="seo_keywords" content="河北省引才引智网" />
		<link rel="stylesheet" type="text/css" href="../../css/home/header.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/home/component.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/home/enterpriseCustomDetail.css" />
	</head>

	<body>
	<div id="app">
		<div class="navList"  id="navList"> 
			<a href="index.html"><p class="indexPage">{{indexText}}</p> </a>
			<div v-for="item in navBar">
				<p v-on:click="articleList(item.childList[0].id,item.id,0)">{{item.typename}}</p>
				<div class="dl-submenu">
					<p :class="[typeid == item1.id?'act':'']" v-for="item1 in item.childList" v-on:click="articleList(item1.id,item.id)"><a>{{item1.typename}}</a></p> 
				</div>
			</div>
		</div>
		<div class='container panel' id="panel"> 
			<div class="header"> 
				<div class="menu">
					<img src="../../img/icon/icon_menu.png" alt="" />
				</div>
				<div class="logo"><img src="../../img/icon/logo.png" /></div>
				<div class="search" @click="searchBoxShow">
					<img src="../../img/icon/icon_search.png" alt="" />
				</div>
				<div class="search-group" v-if="searchBox">
					<input v-model="keyword" type="text" name="" id="" value="" placeholder="" />
					<img src="../../img/icon/icon_search_blue.png" @click="searchFun"/>
				</div>
			</div>
			<div class="main">
				<div class="list" v-if="smallNav">
					<div v-for="item in smallNav" :class="[typeid == item.id?'act item':'item']" v-on:click="articleList(item.id,parentid)">{{item.typename}}</div>
				</div>
				<div class="news-detail">
					<div class="name" v-if="article.title">{{article.title}}</div> 
					<div class="newsCont"> 
						<div class="swiper-container">
							    <div class="swiper-wrapper">
								    <div class="swiper-slide"><img src="../../img/1.jpg"/></div>
								    <div class="swiper-slide"><img src="../../img/1.jpg"/></div> 
								    <div class="swiper-slide"><img src="../../img/1.jpg"/></div> 
								    <div class="swiper-slide"><img src="../../img/1.jpg"/></div> 
								    <div class="swiper-slide"><img src="../../img/1.jpg"/></div> 
							    </div> 
							    <div class="swiper-pagination"></div>
							</div>
							<p>为使河北省科技企业经营管理者进一步拓展视野，学习对标世界最前沿科学技术，汲取创新因子，激发企业发
展动力，探索企业快速发展的新路径。11月20日-28日，由河北省科技厅、美国河北硅谷创新中心 联合举办
的河北科技卓越人才国际交流计划 •美国硅谷站活动组织18名河北省科技企业管理者赴美国硅谷学习培训。</p>
					</div> 
				</div> 
			</div> 
			<div class="footer"> 
				<div class="left">
					<p class="title">河北省引才引智网</p>
					<p>支持单位: 河北省外国专家局</p>
					<p>主办单位: 河北省国际人才交流协会、河北省国际信息技术交流协会</p>
					<p>协办单位：硅谷（石家庄）创新中心 、河北坤展博宏科技有限公司</p>
				</div> 
				<div class="right">
					<img class="code" src="../../img/icon/icon_code.jpg" alt="" />
					<div class="contact-us">
						<p>联系我们</p>
						<div class="email"> 
							<span>service@hbafea.com</span>
						</div>
						<div class="email"> 
							<span>0311-85111217(8:30-17:30)</span>
						</div>
					</div>
				</div>
			</div> 
			<div class="bottom">
				<span><a href="http://www.beian.miit.gov.cn">备案号：冀ICP备19031285号-1</a></span>
			</div>
		</div>
		<div class="cpMask">
			<img class="kefu" src="../../img/home/icon_kefu.png" alt="" />
			<!--<img class="person" src="../../img/home/icon_person.png" alt="" onclick="login()" />-->
			<div class="language" v-on:click="changeLang()"> 
				<span>{{languageText}}</span>
				<img class="arrow" src="../../img/home/icon_arrow_up.png" alt="" />
			</div>
			<img class="gotop" onclick="goTop()" src="../../img/home/icon_gotop.png" alt="" />
		</div>
	</div>
	</body>
	<script type="text/javascript" src="../../js/jquery.js"></script>
	<script type="text/javascript" src="../../js/font.js"></script> 
	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript" src="../../js/rest.js"></script>
	<script type="text/javascript" src="../../js/vue.min.js"></script>  
	<script type="text/javascript" src="../../js/swiper.min.js"></script>  
	<script type="text/javascript" src="../../js/home/enterpriseCustomDetail.js"></script> 
	<script type="text/javascript" src="../../js/home/slideout.min.js"></script> 
	<script type="text/javascript" src="../../js/home/slideMenu.js"></script>  
</html> 