<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="divport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
		<title>河北省引才引智网</title>
		<meta name="description" property="seo_description" content="河北省引才引智网" />
   		<meta name="keywords" property="seo_keywords" content="河北省引才引智网" />
		<link rel="stylesheet" type="text/css" href="../../css/home/header.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/home/component.css" />
		<link rel="stylesheet" type="text/css" href="../../css/home/index.css" />
	</head>

	<body>
	<div id="app">
		<div class="navList"  id="navList"> 
			<a href="index.html"><p class="indexPage act">{{indexText}}</p> </a>
			<div v-for="item in navBar">
				<p v-on:click="articleList(item.childList[0].id,item.id,0)">{{item.typename}}</p>
				<div class="dl-submenu"> 
					<p v-for="item1 in item.childList" v-on:click="articleList(item1.id,item.id)"><a>{{item1.typename}}</a></p> 
				</div>
			</div>
		</div>
		<div class='container panel' id="panel"> 
			<div class="header"> 
				<div class="menu">
					<img src="../../img/icon/icon_menu.png" alt="" />
				</div>
				<div class="logo"><img src="../../img/icon/logo.png" /></div>
				<div class="search" @click="searchBoxShow">
					<img src="../../img/icon/icon_search.png" alt="" />
				</div>
				<div class="search-group" v-if="searchBox">
					<input v-model="keyword" type="text" name="" id="" value="" placeholder="" />
					<img src="../../img/icon/icon_search_blue.png" @click="searchFun"/>
				</div>
			</div>
			<div class="main">
				<div class="swiper-container swiper-container1">
					<div class="swiper-wrapper"> 
						<div class="swiper-slide" v-for="item in banner">
							<a :href="item.links"><img :src="item.litpic"/></a>
						</div>
					</div>
					<!-- Add Scrollbar -->
					<div class="swiper-scrollbar"></div>
				</div>
				<div class="yinzhi-dynamic">
					<div class="title">
						<div class="bs">
							<span class="btitle">引智动态</span>
							<span class="stitle">YinZhi dynamic</span>
						</div>
						<div class="t-right">
							<div :class="[dynamicBarAct==index? 'item act' : 'item']" v-for="(item,index) in dynamicBar" v-on:click="dynamicBarSelect(item.id,index)">{{item.typename}}</div> 
						</div>
					</div>
					<div class="cont">
						<div class="item" v-for="item in dynamic" v-on:click="articleDetail(item.aid,item.typeid,item.parent_id)">
							<div class="name">{{item.title}}</div>
							<div class="time">{{item.add_time | getDate}}</div>
						</div> 
					</div>
				</div>
				<!-- yinzhi-dynamic end -->
				<div class="expert-talents">
					<div class="title">
						<div class="bs">
							<span class="btitle">专家人才</span>
							<span class="stitle">Expert talents</span>
						</div>
					</div>
					<div class="cont">
						<div class="swiper-container swiper-container2">
							<div class="swiper-wrapper">   
								<div class="swiper-slide" v-for="item in experts" v-on:click="resourceDetail(item.id,1)">
									<!--<a :href="'http://ku.hbafea.com/html/home/talentDetail.html?id='+item.id">-->
									<div class="item">
										<div class="itop">
											<div class="avatar">
												<img :src="item.photo" />
											</div>
											<div class="domain" v-if="item.industry_name">{{item.industry_name}}</div>
										</div>  
										<div class="tright">
											<div class="name">{{item.surname+item.name}}</div>
											<div class="country">{{item.nationality}}/{{item.type}}</div> 
										</div>
									</div> 
									<!--</a>--> 
								</div> 
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
				<!-- expert-talents end -->

				<div class="yinzhi-dynamic demand-sharing">
					<div class="title">
						<div class="bs">
							<span class="btitle">需求和共享</span>
							<span class="stitle">Demand sharing</span>
						</div>
						<div class="t-right">
							<div :class="[resourceBarAct==index? 'item act' : 'item']" v-for="(item,index) in resourceBar" v-on:click="resourceBarSelect(item.id,index)">{{item.typename}}</div> 
						</div> 
					</div>  
					<div class="cont">
					    <div class="item" v-for="(item,index) in resource" v-if="index<5" v-on:click="resourceDetail(item.id,item.type)">
							<div class="name">{{item.title}}</div>
							<div class="time" v-if="item.add_time">{{item.add_time | getDate}}</div>
						</div> 
					</div>
				</div>
				<!-- demand-sharing end -->
				<div class="talent-training">
					<div class="title">
						<div class="bs">
							<span class="btitle">人才培训</span>
							<span class="stitle">Talent training</span>
						</div>
						<div class="t-right">
							<div :class="[trainingBarAct==index? 'item act' : 'item']" v-for="(item,index) in trainingBar" v-on:click="trainingBarSelect(item.id,index)">{{item.typename}}</div> 
						</div>
					</div>
					<div :class="[trainingShow? 'tcont1' : 'tcont1 hide']">
						<div class="cont">
							<div class="item" v-for="item in training" v-on:click="articleDetail(item.aid,item.typeid,item.parent_id)">
								<div class="name">{{item.title}}</div>
								<div class="time">{{item.add_time | getDate}}</div>
							</div>
						</div>
					</div>
					<div :class="[trainingShow? 'tcont2 hide' : 'tcont2']">
						<div class="cont"> 
							<div class="item" v-for="item in training1" v-on:click="articleDetail(item.aid,item.typeid,item.parent_id)">
								<div class="poster">
									<img v-if="item.litpic" :src="item.litpic" />
								</div>
								<div class="mask"></div>
								<p class="name">{{item.title}}</p>
							</div>
						</div>
						<div class="cont1">
							<div class="item" v-for="item in training2" v-on:click="articleDetail(item.aid,item.typeid,item.parent_id)">
								<div class="poster" v-if="item.litpic"><img :src="item.litpic" /></div> 
								<p class="name">{{item.title}}</p>
								<p class="time">{{item.add_time | getDate}}</p>
							</div> 
						</div>
					</div> 
				</div>
				<!-- talent-training end -->
				<div class="yinzhi-dynamic yinzhi-policy">
					<div class="title">
						<div class="bs">
							<span class="btitle">引智政策</span>
							<span class="stitle">Demand sharing</span>
						</div>
					</div>
					<div class="cont">
						<div class="item" v-for="item in policy" v-on:click="articleDetail(item.aid,item.typeid,item.parent_id)">
							<div class="name">{{item.title}}</div>
							<div class="time">{{item.add_time | getDate}}</div>
						</div>
					</div>
				</div>
				<div class="coo-institution">
					<div class="title">
						<hr class="line" />
						<div class="dot"></div>
						<span>合作机构</span>
						<div class="dot"></div>
						<hr class="line" />
					</div>
					<div class="cont">
						<div class="item">
							<a href="#"><img src="../../img/coinstitution1.jpg" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="../../img/coinstitution2.jpg" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="../../img/coinstitution3.jpg" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="../../img/coinstitution5.jpg" /></a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="footer"> 
				<div class="left">
					<p class="title">河北省引才引智网</p>
					<p>支持单位: 河北省外国专家局</p>
					<p>主办单位: 河北省国际人才交流协会、河北省国际信息技术交流协会</p>
					<p>协办单位：硅谷（石家庄）创新中心 、河北坤展博宏科技有限公司</p>
				</div> 
				<div class="right">
					<img class="code" src="../../img/icon/icon_code.jpg" alt="" />
					<div class="contact-us">
						<p>联系我们</p>
						<div class="email"> 
							<span>service@hbafea.com</span>
						</div>
						<div class="email"> 
							<span>0311-85111217(8:30-17:30)</span>
						</div>
					</div>
				</div>
			</div> 
			<div class="bottom">
				<span><a href="http://www.beian.miit.gov.cn">备案号：冀ICP备19031285号-1</a></span>
			</div>
		</div> 
		<div class="cpMask">
			<img class="kefu" src="../../img/home/icon_kefu.png" alt="" />
			<!--<img class="person" src="../../img/home/icon_person.png" alt="" onclick="login()" />-->
			<div class="language" v-on:click="changeLang()"> 
				<span>{{languageText}}</span>
				<img class="arrow" src="../../img/home/icon_arrow_up.png" alt="" />
			</div>
			<img class="gotop" onclick="goTop()" src="../../img/home/icon_gotop.png" alt="" />
		</div>
	</div> 
	<script type="text/javascript" src="../../js/jquery.js"></script>
	<script type="text/javascript" src="../../js/font.js"></script>
	<script type="text/javascript" src="../../js/swiper.min.js"></script> 
	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript" src="../../js/rest.js"></script>
	<script type="text/javascript" src="../../js/vue.min.js"></script> 
	<script type="text/javascript" src="../../js/home/index.js"></script>   
	<script type="text/javascript" src="../../js/home/slideout.min.js"></script> 
	<script type="text/javascript" src="../../js/home/slideMenu.js"></script> 
	<script>
		if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
		} else { location.href = "../../index.html";} 
	</script>
	</body>
</html>